#wrap{
  text-align: center;
}


h1 span::before {
  content: "\A";
}

.login{
  width: 30%;
  padding: 25px;
  margin: auto;
  position: sticky;

}
.login h1 {
  text-align:center;
  color: #000000;
  margin: auto;

}

button.loginbtn{
  background: #16a426;;
  border:none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow .4s ease;
  transition: color .2s ease;
  transition: background .2s ease;
  border-radius:3px;
  padding:3px;
  margin:1% 1% 0 10%;
}
button.loginbtn:hover {
  color: #16a426;
  background: white;
}
input, textarea {
  font-size:15px;
  display:block;
  margin:auto;
  width:150px;
  height:15px;
  padding:5px 10px;
  border: 1px solid #bbb;
  color:$ffffff;
  border-radius:0;
  }

a {
          text-align: center;
          color: #3498db;

        }
