#wrap{
  text-align: center;
}

label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
span {
  display: inline;
}
span:before {
  content: "\a ";
  white-space: pre;
}

input{
  float:right;
}

.container{
  width: 20%;
  padding: 25px;
  margin: auto;
  position: sticky;

}
h1 {
  right: 38%;
  top: 230%;
  /*text-align:center;*/
  color: #000000;

}

button {
  background: #16a426;
  border:none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow .4s ease;

}
button.signupbtn{
  position: absolute;
  width: 100px;
  height: 30px;
  margin: auto;
  right: 38%;
  top: 200%;

}
input, textarea {
  font-size:15px;
  display:block;
  margin:auto;
  width:50%;
  height:50%;
  padding:5px 10px;
  border: 1px solid #bbb;
  color:$ffffff;
  border-radius:0;
  }

a {
          text-align: center;
          color: #3498db;

        }
