#wrap{
  
}
.content{
  /*margin:5px 10px;*/
}
.searchForm{
  margin-left:3%;
}
.searchField{
  position: relative;
  bottom:9px;
  border-radius: 10px;
}
.searchButton:hover{
  opacity: 0.7;
}

.productBox{
  border: solid 1px #bfbfbf;
  border-radius: 10px;
  width: 245px;
	float:left;
	margin:2% 3%;
  color: black;
  text-align: center;
  box-sizing: border-box;
  height:260px;

}
.productBox *{
  color:black;
  text-decoration:none;
}
.productBox:hover{
    opacity:0.4;
    border: solid 1px #ff0000;
    -webkit-transition: opacity 0.4s, border-color 0.3s ease-in;
    -o-transition: opacity 0.4s, border-color 0.3s ease-in;
    -moz-transition: opacity 0.4s, border-color 0.3s ease-in;
    transition: opacity 0.4s, border-color 0.3s ease-in;

}
.clear{
  clear:left;
}
