
.LinkItem{
    color: black;
    text-decoration:none;
    display:block;

}

.storeList{
    padding-top:5%;
    list-style-type: none;

}
.storeList li{
  text-decoration:none;
  border: solid 1px #808080;
  border-radius: 10px;
  width: 17%;
	float:left;
	margin-left:5%;
}
.storeList li:hover{
    opacity:0.4;
    -webkit-transition: opacity 0.5s;
}
.storeList li *{
    text-align:center;
}
